antlr4-python3-runtime==4.8
bitarray==2.7.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
Cython==0.29.34
dataclasses==0.6
fairseq==0.10.2
filelock==3.9.0
fsspec==2023.5.0
gmpy2==2.1.2
huggingface-hub==0.14.1
hydra-core==1.0.7
idna==3.4
importlib-resources==5.12.0
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.1
mpmath==1.2.1
networkx==2.8.4
numpy==1.20.3
omegaconf==2.0.6
packaging==23.1
pandas==2.0.1
pip==23.0.1
portalocker==2.7.0
protobuf==3.20.3
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.5.5
requests==2.31.0
sacrebleu==2.3.1
setuptools==66.0.0
six==1.16.0
sympy==1.11.1
tabulate==0.9.0
tensorboardX==2.6
tokenizers==0.13.3
torch==1.12.1
tqdm==4.65.0
transformers==4.29.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
wheel==0.38.4
zipp==3.15.0
